.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: linear-gradient(90deg,  #182848, black);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #ffd700;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }

    .social-icons a {
        font-size: 18px;
    }
}
